/* Colors */
$darkgreen: #063b00;
$darkgreen-invert: #fff;
$lightgreen: #a6bd66;
$lightgreen-invert: #744036;
$bluegrey: #d0e0ee;
$darkgrey: #363636;

/* Breakpoints */
$tablet: 767px;
$desktop: 1024px;
$widescreen: 1216px;
$fullhd: 1408px;

/* Fonts */
@font-face {
  font-family: 'Bodoni Italic';
  src: url('/fonts/Bodoni-11-Medium.otf') format('opentype');
}

$family-secondary: 'Bodoni Italic', 'Garamond', 'Times New Roman', serif;

/* Mixins */

@mixin header-image {
  background-position: 100% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  border-top: 10px solid $darkgrey;
  border-bottom: 10px solid $darkgrey;
  background-color: $darkgrey;

  @media (max-width: $desktop) {
    height: 130px;
    background-size: 120%;
    background-position: 100% 80%;
  }

  @media (max-width: $tablet) {
    height: 100px;
    background-size: 150%;
    background-position: 100% 90%;
  }
}
