/* Import Bulma Utilities */
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

/* Variable changes go here */

// Colours
$darkgreen: #063B00;
$darkgreen-invert: #fff;
$lightgreen: #A6BD66;
$lightgreen-invert: #744036;

$primary: $darkgreen;
$secondary: #d0e0ee;
$link: $lightgreen;

/* Import the rest of Bulma */
@import '~bulma';